header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
header .linha{
    // justify-content: space-between;
}  
.header-img{
    display: block;
    border: none;
    max-width: 150px;
    margin: 20px auto;
}
.header-btn{
    @include MediaQueryMin(L){
        display: none;
    }
}
